.project-subheading.android {
    color: #3ddc84; /* Android green */
  }
  
  .project-subheading.web {
    color: #4285f4; /* Web blue */
  }
  
  .project-subheading.react-native {
    color: #cb27d1; /* Updated React Native blue */
  }
  
  .web-card .project-card-view {
    height: 400px; /* Set a good height for web project cards */
    display: flex;
    flex-direction: column;
  }
  
  .web-card .project-img {
    height: 200px; /* Set the height of the image */
    object-fit: cover; /* Ensure the image covers the area */
  }
  
  .project-card-view {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card-view:hover {
    transform: scale(1.05);
  }
  
  .project-img {
    height: 180px;
    object-fit: cover;
  }
  