/* General styling for the project section */
.project-section {
  background-color: #1a1a1a;
  padding: 60px 0;
  color: #fff;
}

.project-heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.project-subheading {
  font-size: 2rem;
  font-weight: 600;
  margin: 40px 0 20px;
  color: #ff6f61;
  text-align: center;
}

.project-card {
  margin-bottom: 30px;
}

.project-card img {
  /* width: 100%; */
  /* height: auto; */
  border-radius: 10px;
  /* transition: transform 0.3s ease; */
}

/* .project-card:hover img {
  transform: scale(1.05);
} */

.project-card .card-body {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.project-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.project-card .card-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.project-card .btn {
  background-color: #ff6f61;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.project-card .btn:hover {
  background-color: #e65c50;
}

.android {
  color: #a4c639;
}

.web {
  color: #61dafb;
}

.react-native {
  color: #764abc;
}