:root {
  --primary-color: #6f42c1;
  --secondary-color: #0366d6;
  --light-bg: #f8f9fa;
  --dark-bg: #2e2e2e;
  --text-color-light: #24292e;
  --text-color-dark: #f5f5f5;
  --heading-border-color-light: #eaecef;
  --heading-border-color-dark: #444;
}

@media (prefers-color-scheme: dark) {
  .contact-us-container {
    background: #1a1328;
    color: var(--text-color-dark);
  }
  .contact-card {
    background-image: -moz-repeating-radial-gradient(circle, #444, #3a3a3a 10px, #444 10px, #2e2e2e 20px);
  }
}

@media (prefers-color-scheme: light) {
  .contact-us-container {
    background: #1a1328;
    color: var(--text-color-light);
  }
  .contact-card {
    background-image: -moz-repeating-radial-gradient(circle, #ffffff, #f8f9fa 10px, #ffffff 10px, #e9ecef 20px);
  }
}

.contact-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact-us-heading {
  color: var(--primary-color);
  text-align: center;
  /* //txt to bold  */
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 2.5rem;
  padding-top: 60px; /* Adjust the padding as needed */
}

.contact-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  border-radius: 25px;
  box-shadow: 0 1px 12px #691d9c;
  padding: 30px;
  margin: 20px;
  max-width: 600px;
  /* max-height: 600px; */
  flex: 1;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* .contact-card:hover {
  border-radius: 25px;
  transform: translateY(-5px);
  box-shadow: 0 5px 8px #087ce7;
} */

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 8px #087ce7;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.alert {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  animation: fadeIn 0.5s ease, fadeOut 2.5s 2.5s ease forwards;
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  white-space: nowrap;
}

.alert-success {
  background-color: #28a745;
}

.alert-error {
  background-color: #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: #28a745;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

